/* Estilos para el modal */
@import "../../styles/variables.scss";

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.modal {
  position: fixed; /* Fijar la posición */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(221, 212, 212, 0.5); /* Fondo semi-transparente */
  z-index: 999; /* Colocar encima de todo */
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #414141;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  max-width: 500px;
  width: 100%;
}

.modal-title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.div-modal-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.div-modal-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div-modal-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.div-modal-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  font-family: $font;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  font-family: $font;
}

.modal-img {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 100%;
}

.modal-btn {
  width: 20%;
  height: 40px;
  background-color: transparent;
  border: 2px solid;
  color: white;
  border-radius: 20px;
  font-family: $font;
  font-size: 18px;
  text-align: center;
}
