/* Estilos para el modal */
.modal {
  position: fixed; /* Fijar la posición */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(221, 212, 212, 0.5); /* Fondo semi-transparente */
  z-index: 999; /* Colocar encima de todo */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #414141;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  max-width: 500px;
  width: 100%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.modal-img {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 100%;
}

.modal-btn {
  width: 20%;
  height: 30px;
  background-color: transparent;
  border: 2px solid;
  color: white;
  border-radius: 20px;
  margin-top: 20px;
}
