@import "../../styles/variables.scss";

.cocktails-main-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
}

.cocktails {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  font-family: $font;
  color: $fontColor;
}

.div-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
